<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= current_page.data.title || "CodeMismatch" %></title>

    <%= stylesheet_link_tag "animate.min" %>
    <%= stylesheet_link_tag "bootstrap.min" %>
    <%= stylesheet_link_tag "javascript.fullPage" %>

    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <%= stylesheet_link_tag "style" %>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/ico"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://use.fontawesome.com/e44c37d594.js"></script>
    <%= javascript_include_tag "bootstrap.min" %>
    <%= javascript_include_tag "javascript.fullPage.min" %>
    <%= javascript_include_tag "sine-waves.min" %>
    <%= javascript_include_tag "custom" %>

  </head>
  <body>

    <%= yield %>
    
    <script type="text/javascript">
      fullpage.initialize('#fullpage', {
        anchors: ['home', 'expertSolution', 'raisonDetre', '4thpage', 'lastPage'],
        menu: '#menu',
        navigation:true,
        continuousVertical:true,
        css3:true
      });

    </script>
  </body>
</html>
