<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Test driven development ">
    <meta name="keywords" content="Ruy on rails, Golang, Nodejs, Javascript, Customize Software Development, Software Development, Web Application Development">
    <meta name="author" content="Pankaj Doharey">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="https://codemismatch.com" />

    <script type="text/javascript">
      //Redirect Users to to https
      var host = "codemismatch.com";
      if ((host == window.location.host) && (window.location.protocol != "https:"))
      window.location.protocol = "https";
    </script>

    <title><%= current_page.data.title || "CodeMismatch" %></title>

    <% theme_name = config[:active_theme] %>
    <% theme = config[:themes][theme_name] %>
    <% if theme && theme[:fonts] %>
      <% theme[:fonts].each do |font| %>
        <link href="<%= font %>" rel="stylesheet">
      <% end %>
    <% end %>

    <% if theme && theme[:stylesheets] %>
      <% theme[:stylesheets].each do |stylesheet| %>
        <%= stylesheet_link_tag stylesheet %>
      <% end %>
    <% end %>

    <link rel="shortcut icon" href="images/mismatch.ico" type="image/ico"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://use.fontawesome.com/e44c37d594.js"></script>
  </head>
  <body>
    <%= yield %>
    
    <% if theme && theme[:javascripts] %>
      <% theme[:javascripts].each do |javascript| %>
        <%= javascript_include_tag javascript %>
      <% end %>
    <% end %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-99324257-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
