---
title: Codemismatch - Invent | Ideate | Innovate  
---

<div id="superContainer" >
     <%= partial "layouts/_nav" %>
 <div class="slide-buttons">
    <a href="#" class="slide_up" id="moveSectionUp"><i class="fa fa-angle-up"></i></a>
    <a href="#" class="slide_down" id="moveSectionDown"><i class="fa fa-angle-down"></i></a>
  </div>
  <div id="fullpage">
    <%= partial "pages/_home" %>
   <div class="section" id="services">
     <%= partial "pages/_slide1" %>
     <%= partial "pages/_slide2" %>
     <%= partial "pages/_slide3" %>
    </div>
    <%= partial "pages/_reason" %>
    <%= partial "pages/_contact" %>
  </div>
  <%= partial "layouts/_footer" %>
</div>

<script>
function openNav() {
    document.getElementById("myNav").style.height = "100%";
}

function closeNav() {
    document.getElementById("myNav").style.height = "0%";
}
$(document).ready(function() {
  $('#moveSectionUp').click(function(e){
    e.preventDefault();
    fullpage.moveSectionUp();
  });

  $('#moveSectionDown').click(function(e){
    e.preventDefault();
    fullpage.moveSectionDown();
  });
});

// Sin Wave 
var waves = new SineWaves({
  el: document.getElementById('waves'),
  
  speed: 4,
  
  width: function() {
    return $(window).width();
  },
  
  height: function() {
    return 250;
  },
  
  ease: 'SineInOut',
  
  wavesWidth: '90%',
  
  waves: [
    {
      timeModifier: 4,
      lineWidth: 1,
      amplitude: -25,
      wavelength: 25
    },
    {
      timeModifier: 2,
      lineWidth: 2,
      amplitude: -50,
      wavelength: 50
    },
    {
      timeModifier: 1,
      lineWidth: 1,
      amplitude: -100,
      wavelength: 100
    },
    {
      timeModifier: 0.5,
      lineWidth: 3,
      amplitude: -80,
      wavelength: 80
    },
    {
      timeModifier: 0.7,
      lineWidth: 2,
      amplitude: -120,
      wavelength: 130
    }
  ],  
 
  // Called on window resize
  resizeEvent: function() {
    var gradient = this.ctx.createLinearGradient(0, 0, this.width, 0);
    gradient.addColorStop(0,"rgba(17,88,131, 0.8)");
    gradient.addColorStop(0.5,"rgba(20,123,184, 0.5)");
    gradient.addColorStop(1,"rgba(17,88,131, 0.8)");
    
    var index = -1;
    var length = this.waves.length;
    while(++index < length){
      this.waves[index].strokeStyle = gradient;
    }
    
    // Clean Up
    index = void 0;
    length = void 0;
    gradient = void 0;
  }
});
</script>
