---
title: Codemismatch - Invent | Ideate | Innovate  
---

<div id="superContainer" >
     <%= partial "layouts/_nav" %>
 <div class="slide-buttons">
    <a href="#" class="slide_up" id="moveSectionUp"><i class="fa fa-angle-up"></i></a>
    <a href="#" class="slide_down" id="moveSectionDown"><i class="fa fa-angle-down"></i></a>
  </div>
  <div id="fullpage">
    <%= partial "layouts/_home" %>
   <div class="section" id="services">
     <%= partial "layouts/_slide1" %>
     <%= partial "layouts/_slide2" %>
     <%= partial "layouts/_slide3" %>
              </div>
    <div class="section" id="reason">
      <div class="content">
        <i class="fa fa-question" aria-hidden="true"></i>
        <h1 class="avenir-light">Raison d'être</h1>
        <h3 class="intro">reason to be</h3>
        <p class="first_pre">Codemismatch is a boutique webshop. We started with the goal to fill the gap in high quality, affordable, offshore software development. </p>
        <p class="motto"><mark> Our Motto :  Invent | Ideate | Innovate  </mark></p>
      </div>
    </div>
    <div class="section" id="contact">
      <div class="content">
        <h1 class="text-center">Contact</h1>
        <div class="google_map">
          <div id="map-canvas"></div> 
        </div>
        <div class="address">
          <ul>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i><p>A-203 Sakal 24, Near Savita green party plot, behind shreenath bunglows, Chandkheda, Ahmedabad, Gujarat, India</p></li>
            <li><i class="fa fa-phone" aria-hidden="true"></i><p>+917990233778</p></li>
            <li><i class="fa fa-envelope-o" aria-hidden="true"></i><p>business@codemismatch.com</p></li>
          </ul>
          <div class=" row contact_form">
            <form action="http://formspree.io/codemismatch@gmail.com" method="post" class="col-md-12 col-sm-12" id="contact-form" role="form">
              <div class="col-md-12 col-sm-12 wow fadeIn" data-wow-delay="0.3s">
                <input name="name" type="text" class="form-control" id="name" placeholder="Name">
              </div>
              <div class="col-md-12 col-sm-12 wow fadeIn" data-wow-delay="0.3s">
                <input name="email" type="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="col-md-12 col-sm-12 wow fadeIn" data-wow-delay="0.9s">
                <textarea name="message" rows="5" class="form-control" id="message" placeholder="Message"></textarea>
              </div>
              <div class="col-md-12 col-sm-12 wow fadeIn" data-wow-delay="0.3s">
                <input name="submit" type="submit" class="form-control" id="submit" value="Send">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-fixed-bottom footer" role="navigation">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar">
          <li class="copyright">Copyright © 2016 Codemismatch</li>
          <li><a href="#" ><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
          <li><a href="#" ><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a href="http://medium.com/@codemismatch" target="_blank" class="smoothScroll"><i class="fa fa-medium" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
function openNav() {
    document.getElementById("myNav").style.height = "100%";
}

function closeNav() {
    document.getElementById("myNav").style.height = "0%";
}
$(document).ready(function() {
  $('#moveSectionUp').click(function(e){
    e.preventDefault();
    fullpage.moveSectionUp();
  });

  $('#moveSectionDown').click(function(e){
    e.preventDefault();
    fullpage.moveSectionDown();
  });
});

// Sin Wave 
var waves = new SineWaves({
  el: document.getElementById('waves'),
  
  speed: 4,
  
  width: function() {
    return $(window).width();
  },
  
  height: function() {
    return 250;
  },
  
  ease: 'SineInOut',
  
  wavesWidth: '90%',
  
  waves: [
    {
      timeModifier: 4,
      lineWidth: 1,
      amplitude: -25,
      wavelength: 25
    },
    {
      timeModifier: 2,
      lineWidth: 2,
      amplitude: -50,
      wavelength: 50
    },
    {
      timeModifier: 1,
      lineWidth: 1,
      amplitude: -100,
      wavelength: 100
    },
    {
      timeModifier: 0.5,
      lineWidth: 3,
      amplitude: -80,
      wavelength: 80
    },
    {
      timeModifier: 0.7,
      lineWidth: 2,
      amplitude: -120,
      wavelength: 130
    }
  ],  
 
  // Called on window resize
  resizeEvent: function() {
    var gradient = this.ctx.createLinearGradient(0, 0, this.width, 0);
    gradient.addColorStop(0,"rgba(17,88,131, 0.8)");
    gradient.addColorStop(0.5,"rgba(20,123,184, 0.5)");
    gradient.addColorStop(1,"rgba(17,88,131, 0.8)");
    
    var index = -1;
    var length = this.waves.length;
    while(++index < length){
      this.waves[index].strokeStyle = gradient;
    }
    
    // Clean Up
    index = void 0;
    length = void 0;
    gradient = void 0;
  }
});
</script>
