---
title: Codemismatch - Invent | Ideate | Innovate  
---

<div id="superContainer" >
   <%= partial "layouts/_nav" %>
 <div class="slide-buttons">
    <a href="#" class="slide_up" id="moveSectionUp"><i class="fa fa-angle-up"></i></a>
    <a href="#" class="slide_down" id="moveSectionDown"><i class="fa fa-angle-down"></i></a>
  </div>
  <div id="fullpage">
    <%= partial "pages/_home" %>
   <div class="section" id="services">
     <%= partial "pages/_slide1" %>
     <%= partial "pages/_slide2" %>
     <%= partial "pages/_slide3" %>
    </div>
    <%= partial "pages/_reason" %>
    <%= partial "pages/_contact" %>
  </div>
  <%= partial "layouts/_footer" %>
</div>
